<p style="margin: 20px 0px 0px 0px">
    <strong>I strongly believe that electronic retail stores must orbit around the customer.</strong> <br />The customer is the 
    prospective fan and the primary target to dazzle. For that it is essential for retail staff to be on point and up to date 
    on all consumer electronic news. It will empower them to engage on meaningful conversations with customers regardless of 
    the products or services they use and therefore have the chance to make that an opportunity to sell.<br /><br />    
    
    <strong>This is a continuation of a project I started while I worked at a Microsoft Store.</strong><br />
    I started this in the Fall of 2015 when I noticed that there was a sizable gap between what customers asked about
    and what store associates knew. Microsoft did a decent job on teaching retail staff about their products and services,
    but fell short on competitors' products. The effect of this was obvious: store associates were only well aware of first party
    products/features and not much more than that. So when a customer inquired about another product most of the times that customer 
    did not receive a satisfying explanation or solution. <br /><br />
    
    <strong>Instead of pursuing a way to make Microsoft enforce more learning material I wanted to make the learning process more 
    attractive.</strong><br />
    I have always followed tech news sites on social media and check up on their reporting by the hour, so instead of proposing the 
    enforcement of a rule to get all associates to learn about competitors' products I wanted to attract retail staff towards learning more.
    The way I started this is by compiling the most important consumer technology products announcements in a given week and printing a 
    piece of paper, then posting it in a wall at the store's breakroom. It was very successfull. My coworkers were more interested 
    about what happened in technology <i>outside</i> of Microsoft, which is exactly what I wanted. <br /><br />

    <strong>But a piece of paper with ink on it is pretty boring! Right?</strong><br />
    So I upgraded to <a href="https://sway.com/" target="_blank">Sway</a>, a pretty amazing tool to produce engaging multimedia content that can
    be viewed on any web browser. My store coworkers got even <i>more</i> engaged with the Tech Digest. <br />
    So then I started sending it to another store. They loved it. <br />
    Then to the entire market. Same effect. <br />
    Then to another market. Tech Digest started gaining the momentum I wanted it to gain. <br />
    It reached executives and other influential folks at Microsoft and raised enthusiasm within stores. <br /><br />

    <strong>But Sway didn't give me the layout I wanted.</strong><br />
    It wasn't very flexible with content layout and I always believed the content could be presented on a better way.
    So I challenged myself to create something in which I could control content layout 100%. I made a Windows 10 app.
    Now, to be honest that app was <i>terrible.</i> It was my first try on app development, visuals were awful and the inner
    code was a mess. But I did get a solid try at controlling data layout which I believe turned out very good.<br /><br />

    <strong>Hitting the sweet spot.</strong><br />
    So Sway was great because it was accessible through the web but terrible on content layout. On the other hand a Windows 10
    app is perfect for content layout but can only be accessed on Windows 10 devices. So how do I get the best of both?<br /><br />

    <strong>I make my own website</strong><br /><br />

    Which is the website that you are currently on. It is built on ASP.NET, hosted on Microsoft Azure and uses HTML5, CSS and Bootstrap
    for a beatiful experience across any device with a browser: phone, tablet and PC. <br /><br />

    So please enjoy my work! It's my first website but I am very proud of the improvements on previous versions of Tech Digest.
</p>