<p style="margin: 20px 0px 0px 0px">Follow me on Twitter!<br />
I haven't tweeted in a while but if you follow me and let me know it's because of this I'll start tweeting about consumer tech.</p>
<br />
<a href="https://twitter.com/aanhalzer" class="twitter-follow-button" data-size="large" data-show-count="false">Follow aanhalzer</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>